<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">

<title>Error</title>

<style>

body{
font-family:Arial;
background:#f4f4f4;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{

width:500px;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px gray;
text-align:center;

}

h2{
color:red;
margin-bottom:20px;
}

p{
font-size:18px;
margin-bottom:20px;
}

a{
padding:10px 20px;
background:#007bff;
color:white;
text-decoration:none;
border-radius:5px;
}

</style>

</head>

<body>

<div class="card">

<h2 th:text="${errorTitle}"></h2>

<p th:text="${errorMessage}"></p>

<a th:href="@{/admin/dashboard}">
Go Dashboard
</a>

</div>

</body>

</html>